<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
  <div class="container">
    <h1> EMP Login</h1>
    <form method="post">
      <label for="username">Username:</label>
      <input type="text" id="empemail" name="empemail" placeholder="Enter your username">
      <label for="password">Password:</label>
      <input type="password" id="password" name="emppassword" placeholder="Enter your password">
      <a href="{{url_for('empforgot')}}">Forget password?</a>
      <input type="submit">
    </form>
  </div>
</body>
</html>
