<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
        {% for message in messages %}
      <center><b>{{ message }}</b></center>
    {% endfor %}
  {% endif %}
{% endwith %}
<body>
    <center>
    <form method="POST">
        <select>
            <option value="not started">not started</option>
            <option value="in progress">in progress</option>
            <option value="on hold">on hold</option>
            <option value="completed">completed</option>
        </select>
        <button type="submit">Submit</button>    
    </form>
    </center>
</body>
</html>