<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Management System</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='title.css')}}">
    <a href="{{url_for('registration')}}"> ADMIN Registration</a>
    <a href="{{url_for('login')}}">ADMIN Login</a>
    

</head>
<body>
    <div class="student">
    <center><h1>Task Management System</h1></center>
    <center><a href="{{url_for('emplogin')}}"><button class="btnstyle">EMP Login</button></a></center>
    </div>
    <div style="text-align:center;">
    
    </div>
</body>
</html>